body{
    margin-left: 20px;
    margin-right: 20px;
}

.Header{
    background-color:black;
    color: white;
    margin-right: 30%;
    text-align: center;
    border-radius: 20px;
}
.Aside{
    background-color:grey;
    border-radius: 20px;
    color: white;
    float: right;
    padding-bottom: 25%;
    margin-top: -103px;
}
.Aside img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 50vh;
    margin-left: 1.5px;
    display: flex;  
}

.Aside h3{
    margin-top: 70px;
    text-align: center;
}
.Aside .IconeAdresse{
    width: 4vh;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.Aside p{
    text-align: center;
}
.Main{
    margin-top: 100px;
}
.Main .Skill{
    background-color: grey;
    margin-right: 30%;
    border-radius: 20px;
    padding-bottom: 30px;
}
.Skill h2{
    margin-left: 20px;
}
.Skill p{
    margin-left: 20px;
}

.Main .ExpPro{
    margin-top: 100px;
    background-color: grey;
    margin-right: 30%;
    border-radius: 20px;
    padding-bottom: 30px;
}
.Main h2{
    margin-left: 20px;
}
.Main p{
    margin-left: 20px;
    margin-right: 20px;
}

.Main .Formation{
    margin-top: 100px;
    background-color: grey;
    margin-right: 30%;
    border-radius: 20px;
    padding-bottom: 30px;
}